<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<a href="./#/drivers"><img src="../img/formula1_logo.jpg" class="f1_logo img-responsive" id="offset"/></a>
			
			<section id="main">
			  <nav id="secondary" class="main-nav">
				<div class="driver-picture">
				  <div class="avatar center">
					<img class="img-responsive img-circle center" ng-show="driver" src="img/drivers/{{driver.Driver.driverId}}.png"/>
					<p class="center">{{driver.Driver.givenName}} {{driver.Driver.familyName}}</p>
					<img class="center" ng-show="driver" src="img/flags/{{driver.Driver.nationality}}.png" /><br/>
				  </div>
				</div>
				<div class="driver-status center">
				  <p>Country: {{driver.Driver.nationality}}</br>
				  <a ng-href="{{driver.Constructors[0].url}}" target="_blank">Team: {{driver.Constructors[0].name}}</a><br/>
				  Birth: {{driver.Driver.dateOfBirth}}<br/>
				  <a ng-href="{{driver.Driver.url}}" target="_blank">Biography</a>
				  </p>
				</div>
			  </nav>
			</section>
		</div>
		
		<div class="col-md-6">
			  <div class="main-content">
				<table class="result-table table">
				  <thead>
					<tr><th colspan="6">Formula 1 2016 Results</th></tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Round</td> <td colspan="2">Grand Prix</td> <td>Grid</td> <td>Position</td> <td>Points</td>
					</tr>
					<tr ng-repeat="race in races">
					  <td>{{race.round}}</td>
					  <td><a ng-href="#/races"><img src="img/flags/{{race.Circuit.Location.country}}.png"/></a></td>
					  <td><a ng-href="#/races">{{race.Circuit.Location.country}}</a></td>
					  <td>{{race.Results[0].grid}}</td>
					  <td>{{race.Results[0].position}}</td>
					  <td>{{race.Results[0].points}}</td>
					</tr>
				  </tbody>
				</table>
			  </div>
		</div>
	</div>
</div>
