<input type="text" ng-model="nameFilter" placeholder="Search..."/>
<table>
	<thead>
		<tr><th colspan="6">Drivers Championship Standings</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="driver in driversList | filter: searchFilter">
			<td>{{$index + 1}}</td>
			<td>
				<img src="img/flags/{{driver.Driver.nationality}}.png" />
				<a ng-href="#/drivers/{{driver.Driver.driverId}}">
					{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
				</a>
			</td>
			<td><a ng-href="#/teams/{{driver.Constructors[0].constructorId}}">{{driver.Constructors[0].name}}</a></td>
			<td>{{driver.points}}</td>
		</tr>
	</tbody>
</table>
