<nav id="secondary" class="main-nav">
	<div class="race-picture">
		<img ng-show="" src=""/>
		{{race.Circuit.circuitName}}
	</div>
	<div class="race-info">
		Country: <br/>
		Location: <br/>
		Date: <br/>
		<a href="">Full Report</a>
	</div>

	<div class="main-content">
		<table class="result-table">
			<thead>
				<tr><th colspan="5">Race Results</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>Pos</td> <td>Driver</td> <td>Team <td>Best Time</td>
				</tr>
				<tr ng-repeat="">
					
				</tr>
			<tbody>
		</table>
	</div>
</nav>
