<nav id="secondary" class="main-nav">
	<div class="team-picture">
		<img ng-show"" src=""/>
		{{team.name}}
	</div>
	<div class="team-status">
		Country: {{team.nationality}}<br/>
		Position: {{}}<br/>
		Points: {{}}<br/>
		History: {{team.url}}
	</div>

	<div class="main-content">
		<table class="">
			<thead>
				<tr><th colspan="5">Formula 1 2016 Results</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>Round</td> <td>Grand Prix</td> <td>Driver 1</td> <td>Driver 2</td> <td>Points</td>
				</tr>
				<tr ng-repeat="race in races">
					<td>{{race.round}}</td>
					<td>{{race.raceName}</td>
					<td>{{}}</td>
					<td>{{}}</td>
					<td>{{}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</nav>
