<div class="container">
	<div class="row">
		
		<div class="col-md-2 col-md-offset-1">
			<a href="./#/drivers"><img src="../img/formula1_logo.jpg" class="f1_logo img-responsive"/></a>
		</div>
	
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr><th colspan="6">Constructor Championship Standings</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in teams">
						<td>{{team.position}}</td>
						<td><img src="img/flags/{{team.Constructor.nationality}}.png"/></td>
						<a ng-href="#/teams/{{team.Constructor.constructorId}}">
						<td><a ng-href="{{team.Constructor.url}}" target="_blank">Details</a></td>
						<td>{{team.points}}</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
