.search {
	margin-top: 35px;
}

.f1_logo {
	max-width: 100%;
	max-height: 100%;
	margin-top: 20px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.navbar {
	background-color: #D43C3D;
}

.navbar a:link {
	text-decoration: none;
}

.navbar a:visited {
	text-decoration: none;
}

.navbar a:hover {
	text-decoration: none;
}
